<!DOCTYPE html>
<html>
<head>
    <title>Chessboard.js with Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/chessboard-1.0.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <h1>Chessboard.js Powered by Flask</h1> 
    <div id="board" style="width: 800px;"></div>
    
</body>
</html>